<html>
<head>
	<script src='js/mqtt.min.js'></script>
	<script src='js/jquery-3.4.1.min.js'></script>
	<script src='js/bootstrap.js'></script>
	<script src='js/socket.io.js'></script>
	<link href='css/Style_data.css' rel="stylesheet" type="text/css" />
		<script src="js/raphael-2.1.4.min.js"></script>
	
	
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<title>SMART FACTORY | Home</title> -->
  <!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bower_components/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="bower_components/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
  <link rel="stylesheet" href="bower_components/dist/css/skins/skin-blue.min.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  
	
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<!-- Chartjs -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

	  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!--  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>-->

  <!-- Optional theme -->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
	<!-- font manu awesome -->
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	
	<!-- font user awesome -->
	
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>	
<body class="hold-transition skin-blue sidebar-mini">

   <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
 <!-- Main Header -->
<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">S</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">SYSTEMS</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="/image/TangLoong.png" class="user-image" alt="">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs" id="username1"><%= user.username %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="/image/TangLoong.png" class="img-circle" alt="User Image">
                <p>
                  <span ><%= user.username %></span>
					        <small>CÔNG TY APATIT VIỆT NAM</small>
                  <small>Chi Nhánh Tuyển Tằng Loỏng</small>
                </p>
              </li>
              <!-- Menu Body -->
              <!-- <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
              </li> -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <!-- <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div> -->
                <div class="pull-right">
                  <div><a href="/user/logout"><button id="button2">Logout</button></a></div>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <!-- <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a> -->
          </li>
        </ul>
      </div>
    </nav>
 
  </header>
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
  <div class="wrapper">

  <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar Menu -->
          <ul class="sidebar-menu" data-widget="tree">

            <!-- <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li> -->          

            <li class="treeview">
              <a href="#"><i class="fa fa-industry"></i> <span>Giám sát Năng Lượng</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/1ahome_GSNL_TL_01">Thông số Online</a></li>
                <li><a href="/1ahome_GSNL_TL_Sodo01">Sơ đồ cung cấp điện</a></li>
                <li><a href="/1ahome_GSNL_TL_KwhCa">Kwh theo Ca</a></li>
                <li><a href="/1ahome_GSNL_TL_BieudoCa_TramRP1_A51_MV01">Biểu đồ Kwh Ca</a></li>
                <li><a href="/1ahome_GSNL_TL_BieudoNgay_TramRP1_A51MV01">Biểu đồ Kwh Ngày</a></li>
                <li><a href="/1ahome_GSNL_TL_BieudoThang_TramRP1_A51MV01">Biểu đồ Kwh Tháng</a></li>
                <li><a href="/1ahome_GSNL_TL_BaocaoExcell_Kwh">Báo cáo Excell Kwh</a></li>
                <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay">Báo cáo Excell Kwh Day</a></li>
                <li><a href="/1ahome_GSNL_TL_BaocaoExcell_Cosphi">Báo cáo Excell Cosphi</a></li>
              </ul>
            </li>

          </ul>       
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
</aside>
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
	  <section>
        <div class="row">
          <div class="col-md-12">
            <p style="color:blue; padding-top:10px; text-align:center; font-size: 18px;" >HỆ THỐNG GIÁM SÁT NĂNG LƯỢNG TUYỂN TẰNG LOỎNG</p>
          </div>
        </div>
        <!------------------------------------------------------------------------------------------ -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                      <div class="box">
                        <div class="box-header">
                          <h4 class="box-title">Xuất dữ liệu báo cáo thống kê giám sát năng lượng:</h4>
                        </div>
                        <!-- /.box-header -->
                      <div class="box-body no-padding">
                          <div class="col-md-12">
                            <form action="1ahome_GSNL_TL_BaocaoExcell_KwhDay" method="post">
                              <div class='col-md-2'>
                              <p style="color:black; text-align:right; font-size: 16px;" >Từ ngày:</p>
                              </div>
                              <!--<input type="date" name="date_from">-->
                                <div class='col-md-3'>
                                  <div class="form-group">
                                    <div class='input-group date' id='datetimepicker2'>
                                      <input type='text' class="form-control" id="" name="date_from" value="<%= moment(startdate).format('DD-MMM-YYYY') %>" />
                                      <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                    </div>
                                  </div>
                              </div>
                              <div class='col-md-2'>
                                  <p style="color:black; text-align:right; font-size: 16px;" >Đến ngày:</p>
                              </div>
                              <div class='col-md-3'>
                                <div class="form-group">
                                  <div class='input-group date' id='datetimepicker3'>
                                    <input type='text' class="form-control" id="" name="date_to" value="<%= moment(startdate).format('DD-MMM-YYYY') %>" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            
                          <!--To <input type="date" name="date_to">-->
                            <button type="submit" style="width: 120px; height: 33px;">Tải về Báo cáo</button>
                          </form>
                      </div>	
                    </div>
                    <!-- /.box-body -->
                  </div>
              </div>
          </div>
      <!-------------------------------------------------------------------------- -->
      <!-- ----------------------------------------------------------------------- -->
      <div class="row">
            <div class="col-md-10 col-md-offset-1">	
                  <div class="box">
                      <div class="box-header">
                        <h3 class="box-title">History Data Tram RP1 MV01 - MV 04</h3>
                      </div>
                    <!-- /.box-header -->
                      <div class="box-body no-padding">
                        <table class="table table-condensed">  
                              <tr>
                                <th style="text-align:center;">Timestamp</th>
                                <th style="text-align:center;">TramRP1_MV01</th>
                                <th style="text-align:center;">TramRP1_MV02</th>
                                <th style="text-align:center;">TramRP1_MV03</th>
                                <th style="text-align:center;">TramRP1_MV04</th>   
                              </tr>
                            <% data.forEach(function(dt) { %>
                              <tr>
                                <td ><%= moment(dt.TL_KwhDay_timestamp).format('DD-MMM-YYYY HH:mm:ss')  %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP1_A51_MV01_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP1_A51_MV02_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP1_A51_MV03_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP1_A51_MV04_KwhDay %></td>
                              </tr>
                            <% }) %>
                        </table>
                            <% if (pages > 0) { %>
                              <ul class="pagination text-center">
                                  <% if (current == 1) { %>
                                      <li class="disabled"><a>First</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=1">First</a></li>
                                  <% } %>
                                  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                  <% if (i !== 1) { %>
                                      <li class="disabled"><a>...</a></li>
                                  <% } %>
                                  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                      <% if (i == current) { %>
                                          <li class="active"><a><%= i %></a></li>
                                      <% } else { %>
                                          <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= i %>"><%= i %></a></li>
                                      <% } %>
                                      <% if (i == Number(current) + 4 && i < pages) { %>
                                          <li class="disabled"><a>...</a></li>
                                      <% } %>
                                  <% } %>
                                  <% if (current == pages) { %>
                                      <li class="disabled"><a>Last</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= pages %>">Last</a></li>
                                  <% } %>
                              </ul>
                            <% } %>  
                        </table>
                      </div>	
                  </div>
          </div>
        </div>
      <!-- ----------------------------------------------------------------------- -->
        
      <!-- ----------------------------------------------------------------------- -->
      <div class="row">
            <div class="col-md-10 col-md-offset-1">	
                  <div class="box">
                      <div class="box-header">
                        <h3 class="box-title">History Data Tram RP2 MV01 - MV 04</h3>
                      </div>
                    <!-- /.box-header -->
                      <div class="box-body no-padding">
                        <table class="table table-condensed">  
                              <tr>
                                <th style="text-align:center;">Timestamp</th>
                                <th style="text-align:center;">TramRP2_MV01</th>
                                <th style="text-align:center;">TramRP2_MV02</th>
                                <th style="text-align:center;">TramRP2_MV03</th>
                                <th style="text-align:center;">TramRP2_MV04</th>   
                              </tr>
                            <% data.forEach(function(dt) { %>
                              <tr>
                                <td ><%= moment(dt.TL_KwhDay_timestamp).format('DD-MMM-YYYY HH:mm:ss')  %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP2_A51_MV01_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP2_A51_MV02_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP2_A51_MV03_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP2_A51_MV04_KwhDay %></td>
                              </tr>
                            <% }) %>
                        </table>
                            <% if (pages > 0) { %>
                              <ul class="pagination text-center">
                                  <% if (current == 1) { %>
                                      <li class="disabled"><a>First</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=1">First</a></li>
                                  <% } %>
                                  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                  <% if (i !== 1) { %>
                                      <li class="disabled"><a>...</a></li>
                                  <% } %>
                                  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                      <% if (i == current) { %>
                                          <li class="active"><a><%= i %></a></li>
                                      <% } else { %>
                                          <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= i %>"><%= i %></a></li>
                                      <% } %>
                                      <% if (i == Number(current) + 4 && i < pages) { %>
                                          <li class="disabled"><a>...</a></li>
                                      <% } %>
                                  <% } %>
                                  <% if (current == pages) { %>
                                      <li class="disabled"><a>Last</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= pages %>">Last</a></li>
                                  <% } %>
                              </ul>
                            <% } %>  
                        </table>
                      </div>	
                  </div>
          </div>
        </div>
      <!-- ---------------------------------------------------------------------- -->

      <!-- ---------------------------------------------------------------------- -->
      <div class="row">
            <div class="col-md-10 col-md-offset-1">	
                  <div class="box">
                      <div class="box-header">
                        <h3 class="box-title">History Data Tram RP2 MV05 - MV08</h3>
                      </div>
                    <!-- /.box-header -->
                      <div class="box-body no-padding">
                        <table class="table table-condensed">  
                              <tr>
                                <th style="text-align:center;">Timestamp</th>
                                <th style="text-align:center;">TramRP2_MV05</th>
                                <th style="text-align:center;">TramRP2_MV06</th>
                                <th style="text-align:center;">TramRP2_MV07</th>
                                <th style="text-align:center;">TramRP2_MV08</th>   
                              </tr>
                            <% data.forEach(function(dt) { %>
                              <tr>
                                <td ><%= moment(dt.TL_Kwh_timestamp).format('DD-MMM-YYYY HH:mm:ss')  %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP2_A52_MV05_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP2_A52_MV06_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP2_A52_MV07_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP2_A52_MV08_KwhDay %></td>
                              </tr>
                            <% }) %>
                        </table>
                            <% if (pages > 0) { %>
                              <ul class="pagination text-center">
                                  <% if (current == 1) { %>
                                      <li class="disabled"><a>First</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=1">First</a></li>
                                  <% } %>
                                  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                  <% if (i !== 1) { %>
                                      <li class="disabled"><a>...</a></li>
                                  <% } %>
                                  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                      <% if (i == current) { %>
                                          <li class="active"><a><%= i %></a></li>
                                      <% } else { %>
                                          <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= i %>"><%= i %></a></li>
                                      <% } %>
                                      <% if (i == Number(current) + 4 && i < pages) { %>
                                          <li class="disabled"><a>...</a></li>
                                      <% } %>
                                  <% } %>
                                  <% if (current == pages) { %>
                                      <li class="disabled"><a>Last</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= pages %>">Last</a></li>
                                  <% } %>
                              </ul>
                            <% } %>  
                        </table>
                      </div>	
                  </div>
          </div>
        </div>
      <!-- ------------------------------------------------------------------- -->

      <!-- ------------------------------------------------------------------- -->
      <div class="row">
            <div class="col-md-10 col-md-offset-1">	
                  <div class="box">
                      <div class="box-header">
                        <h3 class="box-title">History Data Tram RP3 MV01 - MV05</h3>
                      </div>
                    <!-- /.box-header -->
                      <div class="box-body no-padding">
                        <table class="table table-condensed">  
                              <tr>
                                <th style="text-align:center;">Timestamp</th>
                                <th style="text-align:center;">TramRP3_MV01</th>
                                <th style="text-align:center;">TramRP3_MV02</th>
                                <th style="text-align:center;">TramRP3_MV03</th>
                                <th style="text-align:center;">TramRP3_MV04</th>
                                <th style="text-align:center;">TramRP3_MV05</th>  
                              </tr>
                            <% data.forEach(function(dt) { %>
                              <tr>
                                <td ><%= moment(dt.TL_Kwh_timestamp).format('DD-MMM-YYYY HH:mm:ss')  %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP3_A51_MV01_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP3_A51_MV02_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP3_A51_MV03_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP3_A51_MV04_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramRP3_A52_MV05_KwhDay %></td>
                              </tr>
                            <% }) %>
                        </table>
                            <% if (pages > 0) { %>
                              <ul class="pagination text-center">
                                  <% if (current == 1) { %>
                                      <li class="disabled"><a>First</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=1">First</a></li>
                                  <% } %>
                                  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                  <% if (i !== 1) { %>
                                      <li class="disabled"><a>...</a></li>
                                  <% } %>
                                  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                      <% if (i == current) { %>
                                          <li class="active"><a><%= i %></a></li>
                                      <% } else { %>
                                          <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= i %>"><%= i %></a></li>
                                      <% } %>
                                      <% if (i == Number(current) + 4 && i < pages) { %>
                                          <li class="disabled"><a>...</a></li>
                                      <% } %>
                                  <% } %>
                                  <% if (current == pages) { %>
                                      <li class="disabled"><a>Last</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= pages %>">Last</a></li>
                                  <% } %>
                              </ul>
                            <% } %>  
                        </table>
                      </div>	
                  </div>
          </div>
        </div>
        <!-- ------------------------------------------------------------------- -->


      <!-- -------------------------------------------------------------------- -->
      <div class="row">
            <div class="col-md-10 col-md-offset-1">	
                  <div class="box">
                      <div class="box-header">
                        <h3 class="box-title">History Data Tram KTP55 MV01</h3>
                      </div>
                    <!-- /.box-header -->
                      <div class="box-body no-padding">
                        <table class="table table-condensed">  
                              <tr>
                                <th style="text-align:center;">Timestamp</th>
                                <th style="text-align:center;">TramKTP55_MV01</th>
                              </tr>
                            <% data.forEach(function(dt) { %>
                              <tr>
                                <td style="text-align:center;"><%= moment(dt.TL_KwhDay_timestamp).format('DD-MMM-YYYY HH:mm:ss')  %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramKTP55_A51_MV01_KwhDay %></td>
                              </tr>
                            <% }) %>
                        </table>
                            <% if (pages > 0) { %>
                              <ul class="pagination text-center">
                                  <% if (current == 1) { %>
                                      <li class="disabled"><a>First</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=1">First</a></li>
                                  <% } %>
                                  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                  <% if (i !== 1) { %>
                                      <li class="disabled"><a>...</a></li>
                                  <% } %>
                                  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                      <% if (i == current) { %>
                                          <li class="active"><a><%= i %></a></li>
                                      <% } else { %>
                                          <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= i %>"><%= i %></a></li>
                                      <% } %>
                                      <% if (i == Number(current) + 4 && i < pages) { %>
                                          <li class="disabled"><a>...</a></li>
                                      <% } %>
                                  <% } %>
                                  <% if (current == pages) { %>
                                      <li class="disabled"><a>Last</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= pages %>">Last</a></li>
                                  <% } %>
                              </ul>
                            <% } %>  
                        </table>
                      </div>	
                  </div>
          </div>
        </div>
        <!-- ----------------------------------------------------------------- -->

    <!-- -------------------------------------------------------------------- -->
      <div class="row">
            <div class="col-md-10 col-md-offset-1">	
                  <div class="box">
                      <div class="box-header">
                        <h3 class="box-title">History Data Tram KTP56 MV01</h3>
                      </div>
                    <!-- /.box-header -->
                      <div class="box-body no-padding">
                        <table class="table table-condensed">  
                              <tr>
                                <th style="text-align:center;">Timestamp</th>
                                <th style="text-align:center;">TramKTP56_MV01</th>
                              </tr>
                            <% data.forEach(function(dt) { %>
                              <tr>
                                <td style="text-align:center;"><%= moment(dt.TL_KwhDay_timestamp).format('DD-MMM-YYYY HH:mm:ss')  %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramKTP55_A51_MV01_KwhDay %></td>
                              </tr>
                            <% }) %>
                        </table>
                            <% if (pages > 0) { %>
                              <ul class="pagination text-center">
                                  <% if (current == 1) { %>
                                      <li class="disabled"><a>First</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=1">First</a></li>
                                  <% } %>
                                  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                  <% if (i !== 1) { %>
                                      <li class="disabled"><a>...</a></li>
                                  <% } %>
                                  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                      <% if (i == current) { %>
                                          <li class="active"><a><%= i %></a></li>
                                      <% } else { %>
                                          <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= i %>"><%= i %></a></li>
                                      <% } %>
                                      <% if (i == Number(current) + 4 && i < pages) { %>
                                          <li class="disabled"><a>...</a></li>
                                      <% } %>
                                  <% } %>
                                  <% if (current == pages) { %>
                                      <li class="disabled"><a>Last</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= pages %>">Last</a></li>
                                  <% } %>
                              </ul>
                            <% } %>  
                        </table>
                      </div>	
                  </div>
          </div>
        </div>
        <!-- ----------------------------------------------------------------- -->

      <!-- -------------------------------------------------------------------- -->
      <div class="row">
            <div class="col-md-10 col-md-offset-1">	
                  <div class="box">
                      <div class="box-header">
                        <h3 class="box-title">History Data Tram KTP7 MV01-MV02</h3>
                      </div>
                    <!-- /.box-header -->
                      <div class="box-body no-padding">
                        <table class="table table-condensed">  
                              <tr>
                                <th style="text-align:center;">Timestamp</th>
                                <th style="text-align:center;">TramKTP7_MV01</th>
                                <th style="text-align:center;">TramKTP7_MV02</th>
                              </tr>
                            <% data.forEach(function(dt) { %>
                              <tr>
                                <td style="text-align:center;"><%= moment(dt.TL_KwhDay_timestamp).format('DD-MMM-YYYY HH:mm:ss')  %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramKTP7_A51_MV01_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_TramKTP7_A51_MV02_KwhDay %></td>
                              </tr>
                            <% }) %>
                        </table>
                            <% if (pages > 0) { %>
                              <ul class="pagination text-center">
                                  <% if (current == 1) { %>
                                      <li class="disabled"><a>First</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=1">First</a></li>
                                  <% } %>
                                  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                  <% if (i !== 1) { %>
                                      <li class="disabled"><a>...</a></li>
                                  <% } %>
                                  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                      <% if (i == current) { %>
                                          <li class="active"><a><%= i %></a></li>
                                      <% } else { %>
                                          <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= i %>"><%= i %></a></li>
                                      <% } %>
                                      <% if (i == Number(current) + 4 && i < pages) { %>
                                          <li class="disabled"><a>...</a></li>
                                      <% } %>
                                  <% } %>
                                  <% if (current == pages) { %>
                                      <li class="disabled"><a>Last</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= pages %>">Last</a></li>
                                  <% } %>
                              </ul>
                            <% } %>  
                        </table>
                      </div>	
                  </div>
          </div>
        </div>
        <!-- ----------------------------------------------------------------- -->

         <!-- -------------------------------------------------------------------- -->
      <div class="row">
            <div class="col-md-10 col-md-offset-1">	
                  <div class="box">
                      <div class="box-header">
                        <h3 class="box-title">History Data Tram 1306B MV01-MV02</h3>
                      </div>
                    <!-- /.box-header -->
                      <div class="box-body no-padding">
                        <table class="table table-condensed">  
                              <tr>
                                <th style="text-align:center;">Timestamp</th>
                                <th style="text-align:center;">Tram1306B_MV01</th>
                                <th style="text-align:center;">Tram1306B_MV02</th>
                              </tr>
                            <% data.forEach(function(dt) { %>
                              <tr>
                                <td style="text-align:center;"><%= moment(dt.TL_KwhDay_timestamp).format('DD-MMM-YYYY HH:mm:ss')  %></td>
                                <td style="text-align:center;"><%= dt.data_TL_Tram1306B_A51_MV01_KwhDay %></td>
                                <td style="text-align:center;"><%= dt.data_TL_Tram1306B_A51_MV02_KwhDay %></td>
                              </tr>
                            <% }) %>
                        </table>
                            <% if (pages > 0) { %>
                              <ul class="pagination text-center">
                                  <% if (current == 1) { %>
                                      <li class="disabled"><a>First</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=1">First</a></li>
                                  <% } %>
                                  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                  <% if (i !== 1) { %>
                                      <li class="disabled"><a>...</a></li>
                                  <% } %>
                                  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                      <% if (i == current) { %>
                                          <li class="active"><a><%= i %></a></li>
                                      <% } else { %>
                                          <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= i %>"><%= i %></a></li>
                                      <% } %>
                                      <% if (i == Number(current) + 4 && i < pages) { %>
                                          <li class="disabled"><a>...</a></li>
                                      <% } %>
                                  <% } %>
                                  <% if (current == pages) { %>
                                      <li class="disabled"><a>Last</a></li>
                                  <% } else { %>
                                      <li><a href="/1ahome_GSNL_TL_BaocaoExcell_KwhDay?page=<%= pages %>">Last</a></li>
                                  <% } %>
                              </ul>
                            <% } %>  
                        </table>
                      </div>	
                  </div>
          </div>
        </div>
        <!-- ----------------------------------------------------------------- -->


	  </section>
  </div>
  <!-- /.content-wrapper -->

<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
<!-- Main Footer START-------------------------------->
<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    <b>Version</b> 2.99.25
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2019-2030 <a href="https://www.finet.vn">Finet Industry</a>.</strong> All rights reserved.
</footer>
<!-- Main Footer END-------------------------------->
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->

  <!-- Control Sidebar -->
  <!-- < include rightsidebar > -->
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="/bower_components/jquery/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/bower_components/dist/js/adminlte.min.js"></script>
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->


<!-- DataTables -->
 
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</body>	


    <script>
      //var client = mqtt.connect('ws://192.168.1.100:1883');
//	  var client = mqtt.connect('http://192.168.0.100:1883');
//      console.log("Success");
//      client.subscribe("topic1/demo");
//
//      client.on("message", function(topic, payload) {
//      alert([topic, payload].join(": "));
//      console.log(topic + " : " + payload);
//      
//      });
		
		var socket = io("http://27.71.231.45:3001");
    	 	
    	socket.on('data3', function(msg){
      		document.getElementById("data3").innerHTML = msg; 
			});
    	socket.on('data4', function(msg){
      		document.getElementById("data4").innerHTML = msg; 
			});
    	socket.on('data5', function(msg){
      		document.getElementById("data5").innerHTML = msg; 
			});
    	socket.on('data6', function(msg){
      		document.getElementById("data6").innerHTML = msg; 
			});
	    socket.on('data7', function(msg){
      		document.getElementById("data7").innerHTML = msg; 
			});
    	socket.on('data8', function(msg){
      		document.getElementById("data8").innerHTML = msg; 
			});
    	socket.on('data9', function(msg){
      		document.getElementById("data9").innerHTML = msg; 
			});
    	socket.on('data10', function(msg){
      		document.getElementById("data10").innerHTML = msg; 
			});
    	socket.on('data11', function(msg){
      		document.getElementById("data11").innerHTML = msg; 
			});
    	socket.on('data12', function(msg){
      		document.getElementById("data12").innerHTML = msg; 
			});
    	socket.on('data13', function(msg){
      		document.getElementById("data13").innerHTML = msg; 
			});
    	socket.on('data14', function(msg){
      		document.getElementById("data14").innerHTML = msg; 
			});
	    	socket.on('data15', function(msg){
      		document.getElementById("data15").innerHTML = msg; 
			});
    	socket.on('data16', function(msg){
      		document.getElementById("data16").innerHTML = msg; 
			});
    	socket.on('data17', function(msg){
      		document.getElementById("data17").innerHTML = msg; 
			});
    	socket.on('data18', function(msg){
      		document.getElementById("data18").innerHTML = msg; 
			});
	    	socket.on('data19', function(msg){
      		document.getElementById("data19").innerHTML = msg; 
			});
    	socket.on('data20', function(msg){
      		document.getElementById("data20").innerHTML = msg; 
			});
    	socket.on('data21', function(msg){
      		document.getElementById("data21").innerHTML = msg; 
			});
    	socket.on('data22', function(msg){
      		document.getElementById("data22").innerHTML = msg; 
			});
		  
		
	
		  $(document).ready(function(){
			$("#btnDOWNLOAD").click(function(){
			//alert(1);
			//console.log("Clicked")
			socket.emit("data30", $("#Textsend").val());
			});
		});


</script>

	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
  

  <script type="text/javascript">
      $('#startdate').datetimepicker({
          useCurrent: false,
          format: 'DD-MMM-YYYY',
          minDate: moment()
      });
   
      $('#startdate').datetimepicker().on('dp.change', function (e) {
          var incrementDay = moment(new Date(e.date));
          incrementDay.add(1, 'days');
          $(this).data("DateTimePicker").hide();
      });
	  
	  $('#fromdate').datetimepicker({
          useCurrent: false,
          format: 'DD-MMM-YYYY',
          minDate: moment()
      });
	  
	  $('#todate1').datetimepicker({
          useCurrent: false,
          format: 'DD-MMM-YYYY',
          minDate: moment()+1
      });
	  
    $(document).ready(function() {
      $(function() {
        $('#datetimepicker6').datetimepicker({format: 'DD-MMM-YYYY'});
        $('#datetimepicker2').datetimepicker({format: 'DD-MMM-YYYY'});
		$('#datetimepicker3').datetimepicker({format: 'DD-MMM-YYYY'});

        
      });
    });

  </script>

	


</html>